table, th, td {
    border: 1px solid black;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem;
    margin: auto;
}

td {
    background-image: linear-gradient(#F5F5F5, #D8D8D8);
}

table {
    background-image: linear-gradient(#DCDCDC, #C0C0C0);
}

form {
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem;
    margin: auto;
}

input {
    margin-top: 10px;
    border-radius: 6px;
}

#container {
    max-width: 1500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 6px;
    inline-size: max-content;
    padding: 0.4rem;
    background-image: linear-gradient(#C0C0C0, #D3D3D3);
}

h1 {
    text-align: center;
}

#titleAndSearch {
    border: 1px solid black;
    border-radius: 6px;
    margin: 1rem 2rem;
    background-image: linear-gradient(#C8C8C8, #D8D8D8);
}

td#results {
    padding: 0.3rem 1rem;
}